.home__text {
    color: rgb(250, 246, 249);
    text-decoration: none;
    padding-bottom: 15px;
}

.form__basic {
    margin-top: 50px;
    margin-left: 15px;
  
} 

.input__movie {
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 28px;
    font-weight: 400;
    border-radius: 15px;
    color: #9e9e9e;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    margin-right: 50px;
}  

.btn {
    color: white;
    background-color: #ca99b9;
    padding: 8px 16px;
    margin: 45px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 38px;
    font-weight: 400;
  }

  .btn:hover,
  .btn:focus, .btn:active     {
    color: #ca99b9;
    background-color: #fafafa;
    padding: 8px 16px;
    margin: 45px;
    border-radius: 20px;
    text-decoration: none;
  }